html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

body {

}

header {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {

}

.container {

}

.logo img {

}

.logo h2, img {

}

h2 {

}

.banner {

}

nav {

}

nav ul {

}
